.menuHome {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    list-style: none;
    gap: $navGral_desktop_gap;
    position: absolute;
    top: $navGral_top;
    right: $navGral_desktop_right;
    z-index: 999999;
}

.nav {
    li {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    font-family: $fontPrincipal;
    font-weight: 600;
    font-size: $navGral_desktop_fontSize;
    text-transform: uppercase;
    background-color: #363636;
    color: $colorPrincipal;
    text-decoration: none;
    padding: 0.1rem;
    }

a:visited {
    color: #F3E8D4;
    text-decoration: none;
    }

a:hover {
    font-weight: 300;
}

a:link {
    color: #F3E8D4;
    text-decoration: none;
}
}
