/*  Colores  */

$colorPrincipal: #F3E8D4;

/* Fonts */

$fontPrincipal: 'inter', serif;
$titulos_fontSize: 5em;
$titulos_fontWeight: 100;

$font_escuchanosDescription-mobile: 2.3em;
$font_escuchanosDescription-tablet: 2.6em;
$font_escuchanosDescription-desktop: 2.8em;

$font_sobreNosotrxs-mobile: 2.4em;
$font_sobreNosotrxs-tablet: 2.6em;
$font_sobreNosotrxs-desktop: 3em;

/*lines*/

$lines_height: 1px;
$lines_color: #f3e8d488;

/* nav general Mobile First */

$navGral_gap: 11px;
$navGral_top: 50px;
$navGral_right: 2rem;
$navGral_mobile_fontSize: 1.4em;

/* Nav general Tablet */

$navGral_tablet_gap: 30px;
$navGral_tablet_right: 7rem;
$navGral_tablet_fontSize: 2em;

/* Nav general Desktop */

$navGral_desktop_gap: 30px;
$navGral_desktop_right: 100px;
$navGral_desktop_fontSize: 2.6em;
