/*  Colores  */

$colorPrincipal: #F3E8D4;

/* Fonts */

$fontPrincipal: 'inter', serif;
$titulos_fontSize: 5em;
$titulos_fontWeight: 100;

/*lines*/

$lines_height: 1px;
$lines_color: #f3e8d488;

/* nav general Mobile First */

$navGral_gap: 20px;
$navGral_top: 4.5rem;
$navGral_right: 3rem;

/* Nav general Tablet responsive */

$navGral_tablet_gap: 30px;
$navGral_tablet_right: 8rem;
$navGral_tablet_fontSize: 2em;

/* Nav general Desktop responsive */

$navGral_desktop_gap: 30px;
$navGral_desktop_right: 10rem;
$navGral_desktop_fontSize: 2.5em;